<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GOTCHA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <button class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#openSearchNearbyModal">Search nearby</button>
        </div>
    </nav>
    <div class="modal" id="openSearchNearbyModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Search nearby places</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="searchNearbyForm">
                        <div class="form-group">
                            <label for="label1">Lattitude</label>
                            <input type="text" name="lat" class="form-control" id="label1" aria-describedby="emailHelp" placeholder="Coordinates">
                        </div>
                        <div class="form-group">
                            <label for="label2">Longitude</label>
                            <input type="text" name="lng" class="form-control" id="label2" aria-describedby="emailHelp" placeholder="Name">
                        </div>
                    </form>
                    <div id="nearbyPlaces"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="searchNearby()">Add place</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="addCommonPlaceModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add place</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addCommonPlaceForm">
                        <div class="form-group">
                            <label for="label1">Coordinates</label>
                            <input type="text" name="coords" class="form-control" id="label1" aria-describedby="emailHelp" placeholder="Coordinates">
                        </div>
                        <div class="form-group">
                            <label for="label2">Name</label>
                            <input type="text" name="name" class="form-control" id="label2" aria-describedby="emailHelp" placeholder="Name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addCommonPlace()">Add place</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">All Places</a>
                <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false">My places</a>
                <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">Users</a>
                <a class="nav-item nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-4" aria-selected="false">Routes</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">COORDS</th>
                        <th scope="col">NAME</th>
                        <th><button class="btn btn-outline-primary btn-sm float-right" id="addCommonPlaceBtn">Add +</button></th>
                        </tr>
                    </thead>
                    <tbody id="commonPlacesHolder"></tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">COORDS</th>
                                <th scope="col">ADDRESS</th>
                                <th></th>
                                </tr>
                            </thead>
                            <tbody id="myPlacesHolder"></tbody>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <br/>
                        <button onclick="clearLog()" class="btn btn-outline-danger btn-block btn-sm">Del</button>
                        <div id="logStack"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">NAME</th>
                        <th scope="col">PHONE</th>
                        <th></th>
                        </tr>
                    </thead>
                    <tbody id="usersHolder"></tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">NAME</th>
                        <th scope="col">ROUTE</th>
                        <th></th>
                        </tr>
                    </thead>
                    <tbody id="usersHolder"></tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>